/* Primary Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.text {
  margin-top: 4vh;
}

em {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

/* hover */
.img__wrap {
  position: relative;
  height: 100%;
  width: 23vw;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  display: flex;

  align-items: center;
  justify-content: center;
  transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}

@media (max-width: 700px) {
  .img__wrap {
    position: relative;
    height: auto;
    width: 85vw;
  }
}

/* hover */

.footer {
  height: 26px;
  text-align: center;
  border-top: 2px solid;
}

/* Layout */
.s-layout {
  display: flex;

  flex-basis: 100%;
  min-height: 100vh;
}

.icon {
  color: #d8b860;
  font-size: 3rem;
  text-align: center;
}

@media (max-width: 700px) {
  .icon {
    text-align: left;
    margin-left: 40px;
    margin-top: 14px;
    font-size: 40px;
  }

  .s-sidebar__trigger {
    background: #0a3862;
    z-index: 400;
  }

  .s-sidebar__nav {
    background: #cae5d3;
    z-index: 1;
  }
}

.s-layout__content {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  /* flex: 1; */
}

/* Sidebar */
.s-sidebar__trigger {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
}

/* .s-sidebar__trigger > i {
  display: inline-block;
  margin: 1.5em 0 0 1.5em;
  color: #f07ab0;
} */

.s-sidebar__nav {
  position: fixed;
  border-radius: 25px;
  outline: 2px solid #d8b860;
  outline-offset: -15px;
  bottom: 4;
  top: 0;
  left: -15em;
  overflow: hidden;
  transition: all 0.3s ease-in;
  width: 15em;

  height: 100%;
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
  left: 0;
}

.s-sidebar__nav ul {
  position: absolute;
  top: 5em;
  left: 0;
  margin: 0;
  padding: 0;
  width: 15em;
}

.s-sidebar__nav ul li {
  width: 100%;
}

.s-sidebar__nav-link {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-left: 0.3rem;
  height: 1.6em;
}

/* center text */
.s-sidebar__nav-link em {
  position: absolute;
  top: 50%;
  left: 4.8em;
  transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
  color: #d8b860;
}

.s-sidebar__nav-link > i {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 4em;
  height: 4em;
}

.s-sidebar__nav-link > i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Mobile First */
@media (min-width: 42em) {
  .s-layout__content {
    margin-left: 4em;
  }

  /* Sidebar */
  .s-sidebar__trigger {
    width: 4em;
  }

  .s-sidebar__nav {
    width: 4em;
    left: 0;
  }

  .s-sidebar__nav:hover,
  .s-sidebar__nav:focus,
  .s-sidebar__trigger:hover + .s-sidebar__nav,
  .s-sidebar__trigger:focus + .s-sidebar__nav {
    width: 15em;
  }
}

@media (min-width: 68em) {
  .s-layout__content {
    margin-left: 15em;
  }

  /* Sidebar */
  .s-sidebar__trigger {
    display: none;
  }

  .s-sidebar__nav {
    width: 15em;
  }

  .s-sidebar__nav ul {
    top: 1.3em;
  }
}
